@page{
  margin: 0;
}

#printArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
}
#printArea p {
  position: absolute;
  margin: 0;
  padding: 0;
}

#name {
  top: -5px;
  left: 0px;
}
#number {
  top: 0px;
  left: 250px;
}
#money {
  top: 130px;
  left: 50px;
}
